table{
    margin: 15px 0px;;
    }
    
    table, td, th {
        border: 1px solid grey;
      }
      
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th {
        text-align: center;
      }